.hero {
    background-image:  url(./Assets/vitaly.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
   
}
.active {
  color: #1d4ed8; /* blue-700 */
  font-weight: bold;
}